In [12]:
import pandas as pd
from util import DataFile

In [13]:
path = "data/csv/team/" #팀별 데이터가 있는 디렉토리
data = DataFile(path).load_csv()

100%|██████████████████████████████████████████████████████████████████████████████████| 97/97 [00:02<00:00, 37.44it/s]

In [14]:
data.head(n=5)

,Unnamed: 0,id,name,firstname,lastname,age,birth_date,birth_place,birth_country,nationality,...,fouls_drawn,fouls_committed,cards_yellow,cards_yellowred,cards_red,penalty_won,penalty_commited,penalty_scored,penalty_missed,penalty_saved
0,0,416,S. Rudy,Sebastian,Rudy,32.0,1990-02-28,Villingen-Schwenningen,Germany,Germany,...,6.0,11.0,5.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN
1,1,416,S. Rudy,Sebastian,Rudy,32.0,1990-02-28,Villingen-Schwenningen,Germany,Germany,...,1.0,3.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN
2,2,702,O. Baumann,Oliver,Baumann,32.0,1990-06-02,Breisach,Germany,Germany,...,1.0,NaN,1.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
3,3,702,O. Baumann,Oliver,Baumann,32.0,1990-06-02,Breisach,Germany,Germany,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
4,4,705,E. Bičakčić,Ermin,Bičakčić,32.0,1990-01-24,Zvornik,Bosnia and Herzegovina,Bosnia and Herzegovina,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [9]:
data.columns

Index(['Unnamed: 0', 'id', 'name', 'firstname', 'lastname', 'age',
       'birth_date', 'birth_place', 'birth_country', 'nationality', 'height',
       'weight', 'injured', 'photo', 'team_id', 'team_name', 'team_logo',
       'league_id', 'league_name', 'league_country', 'league_logo',
       'league_flag', 'league_season', 'games_appearences', 'games_lineups',
       'games_minutes', 'games_number', 'games_position', 'games_rating',
       'games_captain', 'substitutes_in', 'substitutes_out',
       'substitutes_bench', 'shots_total', 'shots_on', 'goals_total',
       'goals_conceded', 'goals_assists', 'goals_saves', 'passes_total',
       'passes_key', 'passes_accuracy', 'tackles_total', 'tackles_blocks',
       'tackles_interceptions', 'duels_total', 'duels_won',
       'dribbles_attempts', 'dribbles_success', 'dribbles_past', 'fouls_drawn',
       'fouls_committed', 'cards_yellow', 'cards_yellowred', 'cards_red',
       'penalty_won', 'penalty_commited', 'penalty_scored', 'penalty_missed',
       'penalty_saved'],
      dtype='object')

<bound method NDFrame.head of     Unnamed: 0      id          name  firstname     lastname   age  \
0            0     416       S. Rudy  Sebastian         Rudy  32.0
1            1     416       S. Rudy  Sebastian         Rudy  32.0
2            2     702    O. Baumann     Oliver      Baumann  32.0
3            3     702    O. Baumann     Oliver      Baumann  32.0
4            4     705   E. Bičakčić      Ermin     Bičakčić  32.0
..         ...     ...           ...        ...          ...   ...
49          49  280687    Hugo Bueno       Hugo  Bueno López  20.0
50          50  284237  D. Lembikisa     Dexter    Lembikisa  19.0
51          51  284237  D. Lembikisa     Dexter    Lembikisa  19.0
52          52  288115     J. Storer      James       Storer   NaN
53          53  288115     J. Storer      James       Storer   NaN

    birth_date             birth_place           birth_country  \
0   1990-02-28  Villingen-Schwenningen                 Germany
1   1990-02-28  Villingen-Schwenningen                 Germany
2   1990-06-02                Breisach                 Germany
3   1990-06-02                Breisach                 Germany
4   1990-01-24                 Zvornik  Bosnia and Herzegovina
..         ...                     ...                     ...
49  2002-09-18                    Vigo                   Spain
50  2003-11-04                     NaN                 England
51  2003-11-04                     NaN                 England
52         NaN                     NaN                 England
53         NaN                     NaN                 England

               nationality  ... fouls_drawn fouls_committed  cards_yellow  \
0                  Germany  ...         6.0            11.0           5.0
1                  Germany  ...         1.0             3.0           0.0
2                  Germany  ...         1.0             NaN           1.0
3                  Germany  ...         NaN             NaN           0.0
4   Bosnia and Herzegovina  ...         NaN             NaN           0.0
..                     ...  ...         ...             ...           ...
49                   Spain  ...         NaN             NaN           0.0
50                 England  ...         NaN             NaN           0.0
51                 England  ...         NaN             NaN           0.0
52                 England  ...         NaN             NaN           0.0
53                 England  ...         NaN             NaN           0.0

   cards_yellowred  cards_red penalty_won penalty_commited  penalty_scored  \
0              0.0        0.0         NaN              NaN             0.0
1              0.0        0.0         NaN              NaN             0.0
2              0.0        0.0         NaN              NaN             0.0
3              0.0        0.0         NaN              NaN             0.0
4              0.0        0.0         NaN              NaN             NaN
..             ...        ...         ...              ...             ...
49             0.0        0.0         NaN              NaN             NaN
50             0.0        0.0         NaN              NaN             NaN
51             0.0        0.0         NaN              NaN             NaN
52             0.0        0.0         NaN              NaN             0.0
53             0.0        0.0         NaN              NaN             NaN

   penalty_missed penalty_saved
0             0.0           NaN
1             0.0           NaN
2             0.0           0.0
3             0.0           0.0
4             NaN           NaN
..            ...           ...
49            NaN           NaN
50            NaN           NaN
51            NaN           NaN
52            0.0           0.0
53            NaN           NaN

[4945 rows x 60 columns]>